body {
	transition: all 0.4s;
	opacity: 0;
	padding: 0px 0px 10px 20px
}

.users-bottom-line {
	border-bottom: #ccc 1px solid
}

.tabs {
	background: transparent;
	position: relative;
	top: 2px;
}

.tabs .tab a {
	color: #666;
}

.tabs .tab a:hover {
	color: #007CB6;
}

.active {
	color: #007CB6 !important;
}

.users-btn {
	margin-left: 10px;
	position: relative;
	top: -2px;
}

.users-gsxx-table1{
	margin: 0 60px 60px 0
}
.users-gsxx-table1>thead>tr>th {
	padding: 10px 0;
	text-align: center;
	font-weight: 100;
	font-size: 17px;
	background: #107BBF;
	color: #eee;
	border: 1px solid #00B0FF;
}

.users-gsxx-table1>tbody>tr>td {
	text-align: center;
	height: 45px;
	background: #F6F6F6;
	border: 1px solid #00B0FF;
	vertical-align: middle;
	color: #333;
	font-size: 16px;
	padding: 0;
	border-right: 1px solid #0059BC;
}

.users-gsxx-table1>tbody>tr>td:nth-last-child(1) {
	background: transparent;
	color: #666;
	border: 1px solid #0059BC;
}

.users-xfxq-table1>thead>tr>th {
	padding: 10px 0;
	text-align: center;
	font-weight: 100;
	font-size: 17px;
	background: #107BBF;
	color: #eee;
	border: 1px solid #00B0FF;
}

.users-xfxq-table1>tbody>tr>td {
	text-align: center;
	height: 45px;
	background: #F6F6F6;
	border: 1px solid #00B0FF;
	vertical-align: middle;
	color: #333;
	font-size: 16px;
	padding: 0;
	border-bottom: 1px solid #0059BC;
}

.users-xfxq-table1>tbody>tr:nth-last-child(1)>td {
	background: transparent;
	color: #666;
	border: 1px solid #0059BC;
}

#cz-btn {
	border-radius: 5px;
	padding: 0 10px;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
}

.indicator {
	height: 5px !important;
	background-color: #007CB6 !important;
}

.layui-laydate .layui-this {
	background-color: #007CB6 !important;
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #007CB6 !important;
}

.message-cz-win {
	position: absolute;
	top: 0;
	text-align: center;
	margin: 0 auto;
	z-index: 997;
	width: 100%;
	display: none;
	padding-top: 5%;
}

.message-cz-win-content {
	height: 550px;
	width: 625px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	background-color: #fff;
	border-radius: 20px;
	margin: 0 auto;
	text-align: left;
	padding: 10px;
}

.message-cz-win-content table tr td {
	padding: 15px 0;
	text-align: center;
}

.message-cz-win-content table tr:nth-last-of-type(2) td {
	font-size: 25px;
	text-align: center;
}

.message-cz-win-content>div:nth-of-type(3) {
	padding: 0 30px;
	font-size: 16px;
	font-weight: 800;
	color: #4EA6CC;
	line-height: 30px !important;
}

.title-users {
	border-radius: 20px;
	width: 500px;
	margin: 0px auto;
	padding: 10px;
	height: 45px;
	text-align: center;
	font-size: 17px;
	font-family: "微软雅黑";
	font-weight: 400;
	color: white;
	background: linear-gradient(to bottom, rgb(44, 180, 211), rgb(15, 116, 200));
}

.users-up input {
	border: 1px solid #999;
	width: 220px;
	padding-left: 10px;
	height: 36px;
	line-height: 22px;
	border-radius: 8px;
	color: #333;
	margin-bottom: 0px;
}

.users-up .users-btn-color1 {
	background: linear-gradient(to bottom, #419AD2, #0F7CBD) !important;
	height: 36px;
	width: 60px;
	padding: 0 2px
}

.users-up .users-btn-color2 {
	background: linear-gradient(to bottom, #30D171, #0FBF5C) !important;
	height: 36px;
	width: 60px;
	padding: 0 2px
}

.users-up .users-btn-color3 {
	background: linear-gradient(to bottom, #30D171, #0FBF5C) !important;
	height: 36px;
	width: 120px;
	padding: 0 2px
}

.layui-laypage-btn:focus {
	color: #eee;
}

.layui-table-view .layui-table td {
	text-align: center;
}

.more {
	background: transparent;
	border: 0;
	font-size: 13px;
}

.more:focus {
	background: transparent;
}

button:focus {
	background-color: #007CB6;
}

div[lay-filter="LAY-table-1"] td {
	border-style: double;
}

.layui-table-view .layui-table td {
	border: 3px double #ddd !important;
}

.layui-table-header {
	background: transparent;
	border: none;
}

.layui-table-header th {
	border: 3px double #ddd !important;
	border-bottom: 0 !important;
	font-weight: 700;
}

.layui-table-view {
	border: none;
}

.layui-table-page {
	border: none;
	position: relative;
	top: 10px;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: #007CB6;
}

.layui-laypage-limits {
	display: none !important;
}

.layui-laypage-btn {
	color: #333;
	position: relative;
	bottom: 1px;
	transition: 0.1s all;
}

.layui-table-cell button {
	padding: 0 5px;
}

.layui-laypage input:focus {
	border-color: #007CB6!important
}

.layui-table tbody tr:hover {
	background-color: #D9E7F0;
}

.indicator {
	height: 5px !important;
	background-color: #007CB6 !important;
}

.layui-laydate .layui-this {
	background-color: #007CB6 !important;
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #007CB6 !important;
}

.users-up input {
	border: 1px solid #999;
	width: 220px;
	padding-left: 10px;
	height: 36px;
	line-height: 22px;
	border-radius: 8px;
	color: #333;
	margin-bottom: 0px;
}

.users-up .users-btn-color1 {
	background: linear-gradient(to bottom, #419AD2, #0F7CBD) !important;
	height: 36px;
	width: 60px;
	padding: 0 2px
}

.users-up .users-btn-color2 {
	background: linear-gradient(to bottom, #30D171, #0FBF5C) !important;
	height: 36px;
	width: 60px;
	padding: 0 2px
}

@media only screen and (max-width: 1361px) {
	.layui-table-cell button {
		padding: 0 2px !important;
	}
	.layui-table-cell {
		padding: 0 5px;
	}
}

@media only screen and (max-width: 1350px) {
	.message-cz-win-content {
		height: 350px;
		width: 425px;
		padding: 7px;
	}
	.message-cz-win-content table tr td {
		padding: 5px 0;
		text-align: center;
	}
	.message-cz-win-content table tr td img {
		height: 100px;
		width: 100px;
	}
	.message-cz-win-content table tr:nth-last-of-type(2) td {
		font-size: 20px;
		text-align: center;
	}
	.message-cz-win-content>div:nth-of-type(3) {
		margin-top: 15px;
		padding: 0 30px;
		font-size: 13px;
		font-weight: 800;
		color: #4EA6CC;
		line-height: 18px !important;
	}
	.title-users {
		border-radius: 20px;
		width: 300px;
		margin: 0px auto;
		padding: 10px;
		height: 45px;
		text-align: center;
		font-size: 17px;
		font-family: "微软雅黑";
		font-weight: 400;
		color: white;
		background: linear-gradient(to bottom, rgb(44, 180, 211), rgb(15, 116, 200));
	}
}